@model ControleCustos.Models.RecursoListagemModel
@using ControleCustos.Models

@{
    string ultimaPaginaAttr = Model.UltimaPagina ? "true" : "";
}
<div class="table-responsive">
    <table class="table table-bordered table-striped" data-ultima-pagina="@ultimaPaginaAttr" id="tabela">
        <thead>
            <tr>
                <th class="text-center col-md-1">#</th>
                <th class="text-left col-md-1">ID</th>
                <th class="text-left col-md-10">Nome</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (RecursoModel recurso in Model.Recursos)
                {
                    <tr>
                        <td class="text-center"><button class="btn glyphicon glyphicon-ok btn-xs" onclick="listagemRecursos.adicionarRecurso(@recurso.Id)"></button></td>
                        <td class="text-left">@recurso.Id</td>
                        <td class="text-left">@recurso.Nome</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<button class="btn glyphicon glyphicon-chevron-left" id="voltar"></button>
<button class="btn glyphicon glyphicon-chevron-right" id="avancar"></button>



