@model ControleCustos.Models.ControleRecursoListagemModel
@using ControleCustos.Models

@if (Model == null || Model.Recursos.LongCount() == 0)
{
    <span class="col-sm-offset-1">Nenhum recurso encontrado.</span>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-left col-md-6">Nome Do Recurso</th>
                    <th class="text-left col-md-3">Data de Início</th>
                    <th class="text-left col-md-3">Data Fim</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (ControleRecursoModel controleRecurso in Model.Recursos)
                    {
                        <tr>
                            <td class="text-left">@controleRecurso.NomeRecurso</td>
                            <td class="text-left">@controleRecurso.DataInicio.ToString("dd/MM/yyyy")</td>
                            <td class="text-left">@controleRecurso.DataFim.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}