@model ControleCustos.Models.ProjetoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Adicionar Recursos";
}

<div class="jumbotron">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title projetos-title-panel">
                        Adicionar Recursos
                    </h1>
                </div>
            </div>
            <div class="panel-body">
                <h3>@Model.Nome</h3>
                <span id="id-projeto" data-id-projeto="@Model.Id"></span>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Recusos
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="patrimonio">Patrimônio</a></li>
                        <li><a id="compartilhado">Compartilhados</a></li>
                        <li><a id="servico">Serviços</a></li>
                    </ul>
                </div>
                <div class="alert alert-success" role="alert" id="mensagem" style="display:none">
                </div>
                <h4 id="nome-recurso"></h4>
                <div class="" id="recurso-lista">
                </div>
                <h4>Recursos do projeto</h4>
                <div class="" id="recurso-lista-projeto">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12" id="recurso-modal">
</div>
@section scripts {
    @Scripts.Render("~/bundles/recurso")
    <script>
        recurso.iniciar();
    </script>
}

