@model ControleCustos.Models.ProjetoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Adicionar Recursos";
}

<div class="jumbotron">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title projetos-title-panel">
                        Adicionar Recursos
                    </h1>
                </div>
            </div>
            <div class="panel-body">
                <h3 class="nome-projeto">@Model.Nome</h3>
                <span id="id-projeto" data-id-projeto="@Model.Id"></span>
                <form method="GET" class="form-horizontal">
                    <div class="form-group">
                        <select class="form-control" id="select-tipo">
                            <option value="patrimonio" selected>Patrimônios</option>
                            <option value="compartilhado">Compartilhados</option>
                            <option value="servico">Serviços</option>
                        </select>
                    </div>
                </form>
                <div class="alert alert-success" role="alert" id="mensagem" style="display:none">
                </div>
                <h4 id="nome-recurso"></h4>
                <div class="" id="recurso-lista">
                </div>
                <h4>Recursos do projeto</h4>
                <div class="" id="recurso-lista-projeto">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12" id="recurso-modal">
</div>
@section scripts {
    @Scripts.Render("~/bundles/recurso")
    <script>
        recurso.iniciar();
    </script>
}

